CompileFlags:
  Add:
    - -IC:\Users\21455\.eide\tools\gcc_arm\arm-none-eabi\include\c++\14.3.1
    - -IC:\Users\21455\.eide\tools\gcc_arm\arm-none-eabi\include\c++\14.3.1\arm-none-eabi\thumb\v7-m\nofp
    - -IC:\Users\21455\.eide\tools\gcc_arm\arm-none-eabi\include\c++\14.3.1\backward
    - -IC:\Users\21455\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\14.3.1\include
    - -IC:\Users\21455\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\14.3.1\include-fixed
    - -IC:\Users\21455\.eide\tools\gcc_arm\arm-none-eabi\include
    - -isystemD:\Keil ARM\ARM\ARMCLANG\include
    - -isystemD:\Keil ARM\ARM\ARMCLANG\include\libcxx
    - -ferror-limit=0
  Remove:
    - --cpu
    - --li
    - --c99
    - --split_sections
    - --diag_suppress=*
    - --no_depend_system_headers
    - --depend
    - --strict
    - --enum_is_int
    - --gnu
    - --apcs=*
    - --signed_chars
    - --split_ldm
    - --execute_only
    - -Otime
  CompilationDatabase: ./build/Target 1
  Compiler: C:\Users\21455\.eide\tools\gcc_arm\bin\arm-none-eabi-gcc.exe
Diagnostics:
  Suppress: "*"
